---
interface Props {
	title: string;
}

const { title } = Astro.props;
import SEO from "../components/shared/SEO.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<SEO
			title={title}
			description="Academia Tecnológica de Toluca & CODE.SG - Formación rigurosa en ingeniería y creatividad maker."
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
