---
import SEO from "../components/shared/SEO.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

const {
	title = "Ingeniería Real",
	description = "Academia Tecnológica de Toluca y CODE.SG.",
	image,
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<SEO title={title} description={description} image={image} />
	</head>
	<body class="bg-brand-cream text-att-black min-h-screen">
		<slot />
		<SpeedInsights />
	</body>
</html>
