---
import SEO from "../components/shared/SEO.astro";

const {
	title = "Ingeniería Real",
	description = "Academia Tecnológica de Toluca y CODE.SG.",
	image,
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<SEO title={title} description={description} image={image} />
		<meta
			name="google-site-verification"
			content="Popdi7rT3zpThgpNFJMTn3_YuZNva9-7r724rpvCGu4"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
